name: testAction1
    
on: 
  workflow_dispatch:
    branches: [ dev ]
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: |
        echo Hello, world!
        cat second.txt
        pwd
        ls -la
